%section.genre
  %header.clearfix
    %h1 #{@category.name}
    .genre_sorting
      Sort by:
      %select(name="")
        %option(value="a-z") Title: A - Z
        %option(value="z-a") Title: Z - A
        %option(value="rating") Rating
%article.video_category
  .videos.row
    - if video.category.id.to_s == params[:id]
    - @videos.each do |video|
     .video.col-sm-2
      = link_to video do           
       %img(src="#{video.small_cover}" height="150" width="100")


/need to implement this line video.category.id.to_s == params[:id] to call all videos in category for display

